<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Shibuya</title>
    <link rel="stylesheet" href="http://127.0.0.1:3000/stylesheets/material.min.css">
    <link rel="stylesheet" href="http://127.0.0.1:3000/stylesheets/blog.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a class="mdl-layout-title" href="/">设计素材</a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <% if (user) { %>
                <a class="mdl-navigation__link">欢迎您，<%= user.name %></a>
                <a class="mdl-navigation__link" href="/post">发布文章</a>
                <a class="mdl-navigation__link" href="/logout">登出</a>
                <% } else { %>
                <a class="mdl-navigation__link" href="/login">登录</a>
                <a class="mdl-navigation__link" href="/reg">注册</a>
                <% } %>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">