<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/material.min.css">
    <link rel="stylesheet" href="css/blog.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Blog</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="javascript:;">Home</a>
                <a class="mdl-navigation__link" href="javascript:;">Login</a>
                <a class="mdl-navigation__link" href="javascript:;">Register</a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">